
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd"><html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >
    <meta http-equiv="Content-Language" content="zh-CN" >
    <meta name="keywords" content="" >
    <meta name="description" content="" ><title>UMA云服务平台</title>
	<link href="/js/extjs/421/resources/css/ext-all-neptune-debug.css" media="screen" rel="stylesheet" type="text/css" >
    <link href="/css/common.css?_v=20130611222245" media="screen" rel="stylesheet" type="text/css" >
    <link href="/css/resetsize.css?_v=20130611222245" media="screen" rel="stylesheet" type="text/css" >
    <link href="/css/iframe_styles.css" media="screen" rel="stylesheet" type="text/css" >
    <link href="/css/styles.css" media="screen" rel="stylesheet" type="text/css" >
	<script type="text/javascript">
    //var disableCache = ;
	</script>
    <script type="text/javascript" src="/js/extjs/421/bootstrap.js"></script>
    <script type="text/javascript" src="/js/app420.js?_v=20130611222245"></script>
    <script type="text/javascript" src="/js/task.js"></script></head>
	
	<% if (my) { %>
	<script type="text/javascript">
		var my	= '<%= my %>';
	</script>
	<% } %>
<body>
<!--头部开始-->
<div id='header' style="display: none;">
    <table width="100%">
        <tr>
            <td><h1>UMA云服务平台</h1></td>
            <td align="right"><span id="logout" class="logout"></span></td>
        </tr>
    </table>
</div>
<div id="loading" style="margin: 20px">Loading……</div>
<!--头部结束-->

<!--主体部分开始-->
<div id="main" style="top: 39px; left: 205px; position: absolute;"></div>
<!--主体部分结束-->

</body>
</html>
