.x-box-mc{font-size:16px;}
.x-mask-msg div{font-size:12px;}
.x-btn-default-small .x-btn-inner{font-size:12px;}
.x-btn-default-medium .x-btn-inner{font-size:12px;}
.x-btn-default-large .x-btn-inner{font-size:12px;}
.x-btn-default-toolbar-small .x-btn-inner{font-size:12px;}
.x-btn-default-toolbar-medium .x-btn-inner{font-size:12px;}
.x-btn-default-toolbar-large .x-btn-inner{font-size:12px;}
.x-btn-group-header-text-default-framed{font-size:12px;}
table.x-datepicker-inner a{font-size:12px;}
.x-monthpicker-item{font-size:12px;}
.x-menu-item-text{font-size:12px;}
.x-column-header{font-size:12px}
.x-grid-row .x-grid-cell{font-size:12px;}
.x-grid-rowbody{font-size:12px;}
.x-grid-cell{font-size:14px;}
.x-grid-group-title{font-size:12px;}
.x-grid-row-editor .x-form-field{font-size:12px;}
.x-grid-row-editor .x-form-display-field{font-size:12px;}
.x-form-invalid-under{font-size:12px;}
.x-fieldset-header{font-size:12px;}
.x-html-editor-tb .x-font-select{font-size:12px;}
.x-panel-header-default{font-size:12px;}
.x-panel-header-text-default{font-size:12px;}
.x-panel-header-default-framed{font-size:12px;}
.x-panel-header-text-default-framed{font-size:12px;}
.x-tip-header-text{font-size:12px;}
.x-tip-header,.x-tip-body,.x-form-invalid-tip-body{font-size:12px;}
.x-progress-text{font-size:12px;}
.x-toolbar{font-size:12px;}
.x-toolbar .x-form-item-label{font-size:12px;}
.x-toolbar .x-toolbar-text{font-size:12px;}
.x-window-header-text-default{font-size:12px;}
.x-tab-bar{font-size:12px;}
.x-tab button{font-size:12px;}
.x-tab-close-btn{font-size:12px;}
.x-dd-drag-ghost{font-size:12px;}